.category{
    min-height: 100vh;
    &_intros{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #F2F6F4;
        height: 96px;
        width: 100%;
        &_intro{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 12px auto;
            &_img{
                height: calc(100% - 24px);
                margin-right: 20px;
            }
            &_title{
                color: #1A1E26;
                font-size: 20px;
            }
            &:first-child::before{
                content: "";
                display: block;
                position: absolute;
                top: 20%;
                right: 0px;
                z-index: 1;
                background-color: #05422c2f;
                width: 2px;
                height: 60%;
            }            
            &:last-child::before{
                content: "";
                display: block;
                position: absolute;
                top: 20%;
                left: 0px;
                z-index: 1;
                background-color: #05422c2f;
                width: 2px;
                height: 60%;
            }
        }
    }
    &_container{
        display: grid;
        grid-template-columns: 350px auto;
        gap: 64px;
        margin: 64px auto 330px;
        &_filter{
            padding: 10px 10px 20px;
            border: 1px solid #CECFD5;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            box-shadow: 0 0 5px 1px #CECFD5;
            &_title{
                margin-bottom: 24px;
                color: #1A1E26;
                font-size: 20px;
                font-weight: 500;
            }
            &_prod{
                margin-bottom: 20px;
                padding: 20px 25px;
                border-radius: 12px;
                box-shadow: 0 0 5px 1px #CECFD5;
                &_title{
                    margin-bottom: 20px ;
                    color: #717378;
                    font-size: 14px;
                    font-weight: 400;
                }
                &_option{
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    row-gap: 12px;
                    width: 250px;
                    &_label{
                        color: #46494F;
                        font-size: 14px;
                        &_span{
                            padding-left: 20px;
                            color: #9D9EA2;
                        }
                    }
                }
            }
            &_price{
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 24px;
                margin-bottom: 20px;
                padding: 20px 25px;
                border-radius: 12px;
                box-shadow: 0 0 5px 1px #CECFD5;
                &_title{
                    grid-column: 1/3;
                    color: #717378;
                    font-size: 14px;
                    font-weight: 400;

                }
                &_input{
                    grid-column: 1/3;
                }
                &_number{
                    padding-left: 10px;
                    line-height: 40px;
                    color: #717378;
                    font-size: 14px;
                }
                &_btn{
                    justify-self: end;
                    background-color: #17AF26;
                    width: 104px;
                    height: 40px;
                    border: 2px #17AF26 solid;
                    border-radius: 30px;
                    color: white;
                    font-size: 14px;
                    transition: all .25s linear;
                    &:hover{
                        background-color: unset;
                        color: #17AF26;
                    }
                }
            }
            &_order{
                margin-bottom: 20px;
                padding: 20px 25px;
                border-radius: 12px;
                box-shadow: 0 0 5px 1px #CECFD5;
                &_title{
                    margin-bottom: 20px ;
                    color: #717378;
                    font-size: 14px;
                    font-weight: 400;
                }
                &_option{
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    row-gap: 12px;
                    width: 250px;
                    &_label{
                        color: #46494F;
                        font-size: 14px;
                    }
                }
            }
            &_review{
                margin-bottom: 20px;
                padding: 20px 25px;
                border-radius: 12px;
                box-shadow: 0 0 5px 1px #CECFD5;
                &_title{
                    margin-bottom: 20px ;
                    color: #717378;
                    font-size: 14px;
                    font-weight: 400;
                }
                &_rate{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 16px;
                    &_stars{
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        // row-gap: 12px;
                    }
                }
            }
            &_clear{
                background-color: #17AF26;
                width: 150px;
                height: 40px;
                border: 2px #17AF26 solid;
                border-radius: 40px;
                color: white;
                transition: all .25s linear;
                &:hover{
                    background-color: unset;
                    color: #17AF26;
                }
            }
        }
        &_shop{
            padding-right: 64px;
            &_header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 70px;
                margin-bottom: 24px;
                border-bottom: 1px #f4f4f4 solid;
                &_shop{
                    color: #1A1E26;
                    font-size: 24px;
                    font-weight: 400;
                }
                &_sort{
                    width: 140px;
                    height: 44px;
                    appearance: none;
                    border-radius: 100px;
                    outline: unset;
                    text-align: center;
                }
            }
        }
    }
}