.footer{
    position: relative;
    background: linear-gradient(#1A1A26,#01100B);
    padding: 507px 160px 160px;
    &_banner{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #05422C;
        width: 1600px;
        // height: ;
        padding: 81px;
        border-radius: 20px;
        &_title{
            width: 1100px;
            padding-bottom: 32px;
            &_h1{
                color: white;
                font-size: 85px;
                font-weight: 510;
                padding-bottom: 24px;
            }
            &_p{
                color: #C3D2CC;
                font-size: 30px;
            }
        }
        &_email{
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            border-top: 1px #346654 solid;
            height: 136px;
            &_box{
                width: 80%;
                height: 100%;
                background-color: unset;
                border: 1px #346654 solid;
                border-radius: 48px;
                padding-left: 48px;
                font-size: 21px;
            }
            &_btn{
                background-color: #17AF26;
                width: 18%;
                outline: unset;
                border: unset;
                border-radius: 48px;
                color: white;
                font-size: 21px;
            }
        }
    }
    &_content{
        display: flex;
        padding-bottom: 85px;
        border-bottom: 1px #46494F solid;
        &_description{
            width: 30%;
            &_logo{
                display: flex;
                height: 52px;
                color: #17AF26;
                font-size: 45px;
                margin-bottom: 31px;
                &_img{
                    height: 100%;
                    margin-right: 5px;
                }
            }
            &_p{
                width: 75%;
                color: #9D9EA2;
                font-size: 21px;
            }
        }
        &_infor{
            display: flex;
            flex-direction: column;
            gap: 53px;
            flex: 1;
            &_quick,
            &_contact,
            &_more{
                &_h2{
                    color: white;
                    font-size: 27px;
                    margin-bottom: 24px;
                }
                &_links,
                &_buy{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row-gap: 21px;
                    grid-column-gap: 42px;
                    &_p{
                        color: #9D9EA2;
                        font-size: 20px;
                    }
                }
                &_p{
                    color: #9D9EA2;
                    font-size: 20px;
                }
            }
            &_checkout{
                height: 42px;
                width: calc(272px / 100 * 133);
            }
        }
    }
    &_end{
        display: flex;
        justify-content: space-between;
        padding: 53px 0 0;
        color: #717378;
        font-size: 21px;
        &_right{
            display: flex;
            justify-content: space-between;
            width: 605px;
        }
    }
}