.homepage{
    width: 100%;
    padding-bottom: 320px;
    &_about{
        background: url('../../assets/img/homepage/BackgroundHomepage.png');
        background-size: cover;
        background-repeat: center;
        // background-attachment: fixed;
        display: flex;
        // justify-content: ;
        background-color: rgba(0, 58, 24, 0.5);
        width: 100%;
        height: 720px;
        padding-top: 120px;
        padding-left: 60px;
        overflow: hidden;
        &_contents{
            flex: 1;
            &_firstline{
                letter-spacing: 2px;
                font-size: 16px;
                color: #F2BC1B;
            }
            &_title{
                // border: 0.5px blue solid;
                font-size: 64px;
                width: calc(100% - 60px);
                color: white;
            }
            &_vitamins{
                color: white;
                font-size: 24px;
            }
            &_promotion{
                display: flex;
                justify-content: space-between;
                margin-top: 100px;
                width: 356px;
                color: white;
                font-size: 24px;
            }
            &_shop_btn{
                background-color: #17AF26;
                margin-top: 50px;
                width: 185px;
                height: 64px;
                border: 3px #17AF26 solid;
                border-radius: 32px;
                color: white;
                font-size: 18px;
                transition: all 0.25s linear;
                &:hover{
                    background-color: unset;
                    border: 3px white solid;
                }
            }
        }
        &_products{
            flex: 1;
            position: relative;
            &_blocks1{
                position: absolute;
                right: 434px;
                bottom: -5px;
                z-index: 3;
                width: 250px;
                &_product{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 180px;
                }
                &_block{
                    width: 100%;
                }
            }
            &_blocks2{
                position: absolute;
                right: 268px;
                bottom: -5px;
                // border: 0.5px blue solid;
                width: 250px;
                &_product{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 180px;
                }
                &_block{
                    width: 100%;
                }
            }
            &_blocks3{
                position: absolute;
                right: -20px;
                bottom: -5px;
                width: 368px;
                &_product{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-35%,-20%);
                    width: 180px;
                }
                &_block{
                    width: 100%;
                }
            }
        }
    }
    &_intros{
        display: flex;
        justify-content: space-between;
        background-color: #F2F6F4;
        width: 100%;
        height: 356px;
        padding: 80px;
        &_intro{
            display: flex;
            gap: 24px;
            justify-content: space-between;
            width: 416px;
            &_icon{
                width: 100px;
                height: 100px;
            }
            &_content{
                &_h3{
                    font-size: 24px;
                    margin-bottom: 16px;
                }
                &_p{
                    color: #717378;
                    font-size: 16px;
                }
            }
        }
    }
    &_bestsale{
        margin: 0 auto;
        padding-top: 100px;
        width: 1400px;
        &_title{
            margin: 0 auto;
            // border: 0.5px blue solid;
            width: 948px;
            font-size: 64px;
            text-align: center;
        }
        &_select{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            // border: 0.5px blue solid;
            margin: 60px auto;
            &_page{
                background-color: #F2F6F4;
                width: 30%;  
                border: 2px #009f65 solid;
                border-radius: 24px;
                line-height: 48px;
                color: #05422C;
                font-size: 21px;
                text-align: center;
                transition: all .25s linear;
                &:hover{
                    box-shadow: 0 0 5px 1px #9D9EA2;
                }
            }
        }
        &_products{
            display: flex;
            gap: 32px;
            justify-content: space-between;
            padding: 0;
            height: 568px;
            &_view{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #05422C;
                width: 379px;
                border-radius: 15px;
                &_img{
                    width: 213px;
                    height: 213px;
                }
                &_title{
                    margin: 24px auto 10px;
                    color: white;
                    font-size: 20px;
                }
                &_content{
                    width: 216px;
                    text-align: center;
                    color: white;
                    font-size: 14px;
                    opacity: 0.6;
                }
                &_link{
                    margin-top: 20px;
                    color: #17AF26;
                    font-size: 14px;
                }
            }
            &_list{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 32px;
                flex: 1;
            }
        }
    }
    &_testimonials{
        width: 1400px;
        margin: 140px auto 0;
        &_title{
            color: #1A1E26;
            font-size: 64px;
        }
        &_container{
            display: flex;
            gap: 32px;
            margin-top: 60px;
            height: 430px;
            &_card{
                background-color: #05422C;
                width: 379px;
                height: 100%;
                padding: 40px;
                border-radius: 10px;
                &_title{
                    color: white;
                    font-size: 32px;
                    padding-bottom: 32px;
                    border-bottom: 1px #f2f6f424 solid;
                }
                &_google{
                    margin: 32px 0;
                    color: white;
                    font-size: 30px;
                    font-weight: 400;
                    opacity: 50%;
                }
                &_exellencet{
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                }
                &_rate{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    padding-right: 30px;
                    color: white;
                    &_stars{
                        display: flex;
                        gap: 5px;
                    }
                    &_span{
                        color: #648A7C;
                        font-size: 16px;
                    }
                }
            }
            &_comments{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 32px;
                flex: 1;
            }
        }
    }
    &_choose{
        width: 1400px;
        margin: 160px auto 0;
        &_title{
            color: #1A1E26;
            font-size: 64px;
        }
        &_filter{
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 70px;
            padding-bottom: 32px;
            &_title{
                color: #1A1E26;
                font-size: 24px;
            }
            &_options{
                display: flex;
                gap: 24px;
                &_p{
                    background-color: #F2F6F4;
                    padding: 8px 20px;
                    color: #05422C;
                    font-size: 16px;
                    border: 1px #05422C solid;
                    border-radius: 20px;
                    transition: all .25s linear;
                    &:hover{
                        box-shadow: 0 0 5px 1px #9D9EA2;
                    }
                }
            }
        }
        &_products{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: 568px;
            grid-gap: 32px;
            padding: 0 10px;
        }
    }
    &_order{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: #01100B;
        margin-top: 360px;
        padding-top: 360px;
        padding-bottom: 110px;
        &_banner{
            display: grid;
            grid-template-areas: 
            "refer btn"
            "get btn";
            align-items: center;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: cover;
            width: 1400px;
            height: 340px;
            padding: 120px;
            border-radius: 24px;
            &_refer{
                grid-area: refer;
                color: white;
                font-size: 64px;
            }
            &_get{
                grid-area: get;
                color: white;
                font-size: 32px;
                font-weight: 500;
                &_span{
                    margin-left: 24px;
                    color: #F2BC1B;
                }

            }
            &_btn{
                grid-area: btn;
                background-color: #17AF26;
                margin: auto 0 auto auto;
                width: 210px;
                height: 64px;
                border: 5px #17AF26 solid;
                border-radius: 74px;
                color: white;
                font-size: 18px;
                transition: all 0.25s linear;
                &:hover{
                    background-color: unset;
                    color: #1ee232;
                }
            }
        }
        &_title{
            width: 1100px;
            text-align: center;
            color: white;
            font-size: 64px;
        }
        &_content{
            width: 790px;
            color: #9D9EA2;
            font-size: 16px;
            text-align: center;
        }
        &_procedure{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 1100px;
            gap: 32px;
            &_step{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24px;
                &_img{
                    aspect-ratio: 1;
                    width: 144px;
                }
                &_name{
                    color: white;
                    font-size: 24px;
                }
                &_description{
                    text-align: center;
                    color: #9D9EA2;
                    font-size: 16px;
                }
            }
        }
        &_btn{
            background-color: #17AF26;
            margin-top: 70px;
            padding: 24px 56px;
            border: 2px #17AF26 solid;
            border-radius: 56px;
            color: white;
            font-size: 16px;
            transition: all 0.25s linear;
            &:hover{
                background-color: unset;
                color: #1ee232;
            }
        }
    }
    &_num1{
        width: 1400px;
        margin: 120px auto;
        &_title{
            width: 790px;
            color: #1A1E26;
            font-size: 64px;
            font-weight: 500;
            letter-spacing: -5px;
            &_span{
                color: #F2BC1B;
            }
        }
        &_headline{
            width: 780px;
            color: #717378;
            font-size: 16px;
        }
        &_adventages{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 375px;
            grid-gap: 32px;
            margin-top: 64px;
            &_feature{
                padding: 32px;
                border: 2px #ebebeb solid;
                border-radius: 12px;
                &_advantage{
                    color: #1A1E26;
                    font-size: 24px;
                    margin: 32px 0 16px;
                }
                &_description{
                    color: 717378;
                    font-size: 14px;
                }
            }
        }
    }
    &_recently{
        width: 1400px;
        margin: 140px auto 120px;
        &_title{
            color: #1A1E26;
            font-size: 64px;
        }
        &_filter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            margin-top: 64px;
            padding-bottom: 32px;
            &_title{
                color: #1A1E26;
                font-size: 24px;
            }
            &_options{
                display: flex;
                gap: 24px;
                width: 731px;
                &_p{
                    background: #F2F6F4;
                    padding:0 20px;
                    border: 2px #05422C solid;
                    border-radius: 29px;
                    line-height: 48px;
                    font-size: 16px;
                    transition: all .25s linear;
                    &:hover{
                        box-shadow: 0 0 5px 1px #9D9EA2;
                    }
                }
            }
            &_show{
                flex: 1;
                text-align: right;
                color: #17AF26;
                font-size: 16px;
            }
        }
        &_products{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 568px;
            grid-column-gap: 32px;
        }
    }
    &_tree{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 64px;
        width: 1400px;
        margin: 0 auto;
        padding: 64px 0 0;
        border-top: 1px #717378 solid;
        &_cpn{
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 32px;
            border: 2px #ebebeb solid;
            border-radius: 12px;
            &_img{
                width: 100%;
                border-radius: 8px;
            }
            &_name{
                color: #1A1E26;
                font-size: 32px;
            }
            &_content{
                color: #717378;
                font-size: 14px;
            }
            &_link{
                color: #17AF26;
                font-size: 16px;
            }
        }
    }
}