.homepage{
    width: 100%;
    padding-bottom: 320px;
    &_about{
        background: url('../../assets/img/homepage/BackgroundHomepage.png');
        background-size: cover;
        background-repeat: center;
        // background-attachment: fixed;
        display: flex;
        // justify-content: ;
        background-color: rgba(0, 58, 24, 0.5);
        width: 100%;
        height: 720px;
        padding-top: 120px;
        padding-left: 60px;
        overflow: hidden;
        &_contents{
            flex: 1;
            &_firstline{
                letter-spacing: 2px;
                font-size: 16px;
                color: #F2BC1B;
            }
            &_title{
                // border: 0.5px blue solid;
                font-size: 64px;
                width: calc(100% - 60px);
                color: white;
            }
            &_vitamins{
                color: white;
                font-size: 24px;
            }
            &_promotion{
                display: flex;
                justify-content: space-between;
                margin-top: 100px;
                width: 356px;
                color: white;
                font-size: 24px;
            }
            &_shop_btn{
                background-color: #17AF26;
                margin-top: 50px;
                width: 185px;
                height: 64px;
                border: 3px #17AF26 solid;
                border-radius: 32px;
                color: white;
                font-size: 18px;
                transition: all 0.25s linear;
                &:hover{
                    background-color: unset;
                    border: 3px white solid;
                }
            }
        }
        &_products{
            flex: 1;
            position: relative;
            &_blocks1{
                position: absolute;
                right: 434px;
                bottom: -5px;
                z-index: 3;
                width: 250px;
                &_product{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 180px;
                }
                &_block{
                    width: 100%;
                }
            }
            &_blocks2{
                position: absolute;
                right: 268px;
                bottom: -5px;
                // border: 0.5px blue solid;
                width: 250px;
                &_product{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 180px;
                }
                &_block{
                    width: 100%;
                }
            }
            &_blocks3{
                position: absolute;
                right: -20px;
                bottom: -5px;
                width: 368px;
                &_product{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-35%,-20%);
                    width: 180px;
                }
                &_block{
                    width: 100%;
                }
            }
        }
    }
    &_intros{
        display: flex;
        justify-content: center;
        gap: 150px;
        // align-items: ;
        background-color: #F2F6F4;
        width: 100%;
        height: 356px;
        padding: 80px 0;
        
        &_intro{
            display: flex;
            justify-content: space-between;
            width: calc(30% - 64px - 32px);
            max-height: 196px;
            &_icon{
                width: 100px;
                height: 100px;
            }
            &_content{
                width: 292px;
                &_h3{
                    font-size: 24px;
                    margin-bottom: 16px;
                }
                &_p{
                    color: #717378;
                    font-size: 16px;
                }
            }
        }
    }
    &_bestsale{
        margin: 0 auto;
        padding-top: 100px;
        width: 1600px;
        &_title{
            margin: 0 auto;
            // border: 0.5px blue solid;
            width: 1240px;
            font-size: 72px;
            text-align: center;
        }
        &_select{
            display: flex;
            justify-content: space-between;
            width: 1600px;
            // border: 0.5px blue solid;
            margin: 60px auto;
            &_page{
                width: 30%;  
                border: 2px #05422C solid;
                border-radius: 24px;
                line-height: 48px;
                color: #05422C;
                font-size: 21px;
                text-align: center;
            }
        }
        &_products{
            display: flex;
            justify-content: space-between;
            padding: 0;
            height: 568px;
            &_view{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #05422C;
                width: 379px;
                border-radius: 15px;
                &_img{
                    width: 213px;
                    height: 213px;
                }
                &_title{
                    margin: 24px auto 10px;
                    color: white;
                    font-size: 20px;
                }
                &_content{
                    width: 216px;
                    text-align: center;
                    color: white;
                    font-size: 14px;
                    opacity: 0.6;
                }
                &_link{
                    margin-top: 20px;
                    color: #17AF26;
                    font-size: 14px;
                }
            }
            &_list{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 5%;
                width: calc(100% - 379px - 5%);
            }
        }
    }
    &_testimonials{
        width: 1600px;
        margin: 140px auto 0;
        &_title{
            color: #1A1E26;
            font-size: 64px;
        }
        &_container{
            display: flex;
            margin-top: 60px;
            height: 430px;
            &_card{
                background-color: #05422C;
                width: 379px;
                height: 100%;
                padding: 40px;
                border-radius: 10px;
                &_title{
                    color: white;
                    font-size: 32px;
                    padding-bottom: 32px;
                    border-bottom: 1px #f2f6f424 solid;
                }
                &_google{
                    margin: 32px 0;
                    color: white;
                    font-size: 30px;
                    font-weight: 400;
                    opacity: 50%;
                }
                &_exellencet{
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                }
                &_rate{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;
                    padding-right: 30px;
                    color: white;
                    &_stars{
                        display: flex;
                        gap: 5px;
                    }
                    &_span{
                        color: #648A7C;
                        font-size: 16px;
                    }
                }
            }
            &_comments{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 60px;
                flex: 1;
                margin-left: 120px;
            }
        }
    }
    &_choose{
        width: 1600px;
        margin: 160px auto 0;
        &_title{
            color: #1A1E26;
            font-size: 64px;
        }
        &_filter{
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 70px;
            padding-bottom: 32px;
            &_title{
                color: #1A1E26;
                font-size: 24px;
            }
            &_options{
                display: flex;
                gap: 24px;
                &_p{
                    background-color: #F2F6F4;
                    padding: 8px 20px;
                    color: #05422C;
                    font-size: 16px;
                    border: 1px #05422C solid;
                    border-radius: 20px;
                }
            }
        }
        &_products{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 568px;
            grid-gap: 32px;
            padding: 0 10px;
        }
    }
}