.productpage{
    width: 100%;
    min-height: 100vh;
    border-top: 1px #c8c8c8 solid;
    &_detail{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;
        width: 1400px;
        margin: 0 auto;
        padding: 40px 64px 64px;
        border-bottom: 1px #C8C9CB solid;
        &_img{
            aspect-ratio: 1;
            border: 1px #c8c8c8 solid;
            border-radius: 24px;
        }
        &_all{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 600px;
            &_section1{
                display: flex;
                flex-direction: column;
                align-items: self-start;
                gap: 16px;
                .h3{
                    color: #9D9EA2;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 4px;
                }
                &_name{
                    font-size: 32px;
                    font-weight: 600;
                    
                }
                &_compound{
                    display: flex;
                    justify-content: flex-start;
                    gap: 16px;
                    &>p{
                        background-color: #F2F6F4;
                        padding: 4px 16px;
                        border-radius: 8px;
                        color: #05422C;
                        font-size: 12px;
                    }
                }
                &_price_rate{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    &>p:first-child{
                        color: #EB2606;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 30px;
                    }
                }
            }
            &_section2{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                padding: 20px;
                border: 1px #f4f4f4 solid;
                border-radius: 12px;
                &_element{
                    display: grid;
                    grid-template-columns: 32px auto;
                    gap: 16px;
                    &_content{
                        &>h3{
                            color: #d4d4d4;
                            font-size: 12px;
                            // font-weight: 400;
                            letter-spacing: 2px;
                            margin-bottom: 8px;
                        }
                        &>p{
                            font-size: 14px;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
    &_feature{
        width: 1400px;
        margin: 0 auto;
        &_title{
            margin: 13px 0 107px;
            font-size: 24px;
            font-size: 400;
        }
        &_list{
            display: grid;
            grid-template-columns:  repeat(4, 1fr);
            column-gap: 36px;
            margin-bottom: 336px;
            height: 600px;
        }
    }
}